.page-enter-active, .page-leave-active {
  transition: all .2s;
}
.page-enter {
  opacity: 0;
  transform: translate(0, 50px);
}

.page-leave-to {
  opacity: 0;
  transform: translate(0, -50px);
}

.navbar-menu.is-active {
  animation: navAnim .2s ease-in-out;
  text-align: center;
}

@keyframes navAnim {
0% {
  display: none;
  opacity: 0;
  height: 0;
}
1% {
  display: block;
  opacity: 0;
}
100% {
  opacity: 1;
  height: 396px;
}
}

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}